<div id="<%= dom_id estudiante %>">
  <p>
    <strong>Nombre:</strong>
    <%= estudiante.Nombre %>
  </p>

  <p>
    <strong>Cedula:</strong>
    <%= estudiante.cedula %>
  </p>

  <p>
    <strong>Apellido:</strong>
    <%= estudiante.Apellido %>
  </p>

  <p>
    <strong>Edad:</strong>
    <%= estudiante.Edad %>
  </p>

  <p>
    <strong>Cuerso:</strong>
    <%= estudiante.Cuerso %>
  </p>

  <p>
    <strong>Nota:</strong>
    <%= estudiante.Nota %>
  </p>


</div>
