<div id="<%= dom_id estudiante %>">
  <p>
    <strong>Nombre:</strong>
    <%= estudiante.nombre %>
  </p>

  <p>
    <strong>Cedula:</strong>
    <%= estudiante.cedula %>
  </p>

  <p>
    <strong>Apellido:</strong>
    <%= estudiante.apellido %>
  </p>

  <p>
    <strong>Edad:</strong>
    <%= estudiante.edad %>
  </p>

  <p>
    <strong>Cuerso:</strong>
    <%= estudiante.curso %>
  </p>

  <p>
    <strong>Nota:</strong>
    <%= estudiante.nota %>
  </p>


</div>
