<%= form_with(model: estudiante) do |form| %>
  <% if estudiante.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(estudiante.errors.count, "error") %> prohibited this estudiante from being saved:</h2>

      <ul>
        <% estudiante.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class= "form-group mt-3">
    <%= form.label :nombre, style: "display: block" %>
    <%= form.text_field :nombre, class:'form-control form-control-lg'  %>
  </div>

  <div class= "form-group mt-3">
    <%= form.label :cedula, style: "display: block" %>
    <%= form.text_field :cedula, class:'form-control form-control-lg'  %>
  </div>


  <div class= "form-group mt-3">
    <%= form.label :apellido, style: "display: block" %>
    <%= form.text_field :apellido, class:'form-control form-control-lg'  %>
  </div>

  <div class= "form-group mt-3">
    <%= form.label :edad, style: "display: block" %>
    <%= form.number_field :edad, class:'form-control form-control-lg' %>
  </div>

  <div class= "form-group mt-3">
    <%= form.label :curso, style: "display: block" %>
    <%= form.text_field :curso, class:'form-control form-control-lg'  %>
  </div>

  <div class= "form-group mt-3">
    <%= form.label :nota, style: "display: block" %>
    <%= form.text_field :nota, class:'form-control form-control-lg'  %>
  </div>

    <div class= "form-group mt-3">
   <%= form.submit 'Registrar', :class => 'btn btn-outline-primary btn-lg' %>
   <%= link_to " Regresar a estudiantes", estudiantes_path, class: "btn btn-outline-primary btn-lg" %>
  </div>
<% end %>
