<p style="color: green"><%= notice %></p>

<%= render @estudiante %>

<div>
  <%= link_to "Editar estudiante", edit_estudiante_path(@estudiante) %> |
  <%= link_to "Regresar a estudiantes", estudiantes_path %>

  <%= button_to "Eliminar estudiante", @estudiante, method: :delete %>
</div>
